.calculator{
    width: 300px;
    margin-left: 500px;
    margin-top: 200px;
    background: linear-gradient(rgb(255, 230, 0),rgb(240, 240, 240));
}
.calculator input{
    border: 2px solid rgb(255, 230, 0) ;
padding: 10px;
width: 92%;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
}
.btnBox{
    display: flex;
flex-wrap: wrap;
justify-content: center;

}
.btn{
    padding: 6%;
    border-radius: 0.8ch;
margin: 2.5%;
background: linear-gradient(rgb(95, 95, 93)rgb(255, 230, 0));
color: rgb(3, 3, 3);
}